.outlined{
    width: 400px;
    border-radius: 20px;
    border: 1px solid var(--dark-secondary);
    padding: 10px;
    min-height: 100px;
}

.outlined p {
    font-size: 18px;
    line-height: 1.5;
}

.filled{
    width: 400px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    min-height: 100px;
    background-color: var(--secondary-color);
    color: var(--accent-color)
}

.filled p {
    font-size: 18px;
    line-height: 1.5;
}

.elevated{
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.elevated p {
    font-size: 18px;
    line-height: 1.5;
}

.dismiss-icon{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.overlay-card{
    position: relative;
}

.overlay-card img{
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
}

.overlay-card h1{
    position: absolute;
    top: 10px;
    left: 20px;
}

.horizontal-card{
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--dark-secondary);
    padding: 10px;
    min-height: 100px;
}

.horizontal-card img{
    min-width: 400px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 20px;
}