.start-container{
    margin-top: 10px;
    margin-right: 5px;
    height: 100%;
}

.start-img{
    width: 100%;
    height: 500px;
    border-radius: 30px;
    position: relative;
    filter: brightness(40%);
}

.start-heading{
    position: absolute;
    top: 100px;
    left: 400px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.start-heading h1{
    font-weight: 600;
    font-size: 100px;
}

.start-heading h2{
    font-weight: 600;
    font-size: 50px;
}

.start-content{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10px;
}

.start-content-img{
    width: 100%;
    height: 500px;
    border-radius: 30px;
    position: relative;
    filter: brightness(80%);
}

.start-content-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start-content-text h1{
    font-size: 50px;
}

.start-content-text p{
    font-size: 30px;
}

.start-img-content{
    position: absolute;
    top: 720px;
    left: 1050px;
    display: flex;
    justify-content: center;
    background: var(--dark-primary);
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
    color: var(--accent-color);
}

.start-content-link{
    text-decoration: none;
}

.start-img-content h1{
    font-size: 40px;
    text-decoration: none;
    border: none;
    font-weight: 600;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.start-img-content p{
    color: var(--accent-color);
    font-size: 20px;
}

.start-img-content:hover{
    background: var(--secondary-color);
}
