@import url(../Common/colors.css);

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
    position: sticky; 
    top: 0;

}

.sidebar-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    justify-content: center;
    margin-top: 25px;
    transition: 0.3s;
    text-decoration: none;
    color: var(--tertiary-color);
}

.sidebar-card h2{
    padding-top: 10px;
}

.sidebar-card:hover{
    cursor: pointer;
    color: var(--primary-color);
}
