:root{
    --primary-color: #64CCC5;
    --secondary-color: #176B87;
    --tertiary-color: #053B50;
    --accent-color: #EEEEEE;
    --vapor-liter: #e9b7f1;
    --vapor-color: #57375D;
    --vapor-lite: #79155B;
    --vapor-three: #240046;
    --success-primary: #008000;
    --success-secondary: #9ef01a;
    --error-primary: #a4161a;
    --error-secondary: #fb6c70;
    --warning-primary: #ae7f19;
    --warning-secondary: #fae588;
    --info-primary: #023e8a;
    --info-secondary: #48cae4;
    --dark-primary: #212529;
    --dark-secondary: #343a40;
    --busy: #ca1d23;
    --offline: rgb(130, 127, 127);
    --primary-btn: #cdcfd1;
}